body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/main.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100%;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hide {
  display: none;
}

.mic_stop_record {
  background-color: green;
  padding: 5px;
  border-radius: 50%;
}

.Snowflake {
  display: inline-block;
  width: 0.1%;
  color: #fffafa;
  opacity: 0;
  font-size: 120px;
  margin: 0;
  padding: 0;
  animation: fall 16s linear infinite;
}

@keyframes fall {
  0% {
    opacity: 0;
  }

  3% {
    opacity: 0.9;
  }

  90% {
    opacity: 0.9;
  }

  100% {
    transform: translate(0, 97vh);
    opacity: 0;
  }
}

.snow-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  position: absolute;
  width: 97vw;
}

.no_Of_Player {
  cursor: pointer;
  margin-bottom: 30px;
  padding: 15px 90px;
  border-radius: 10px;
  color: white;
  font-family: fantasy;
  background-color: grey;
  font-size: 25px;
  opacity: 0.9;
}

.no_Of_Player_Selected {
  cursor: pointer;
  margin-bottom: 30px;
  padding: 15px 90px;
  border-radius: 10px;
  /* color: white; */
  font-family: fantasy;
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(252,255,103,1) 0%, rgba(255,205,80,1) 100%);
  font-weight: 500;
  font-size: 25px;
  opacity: 0.9;
}


@font-face {
  font-family: 'Rocher';
  /* src: url('../../all-games-storyling/src/assets/fontFamily/RocherColorGX.woff2');
   */
   src: url('./assets/fontFamily/RocherColorGX.woff2');
}

body {
  text-align: center;
  font-size: 16px;
}

h1 {
  margin: 0;
}


@font-palette-values --Mint {
  font-family: Rocher;
  /* base-palette: 5; */
}

.mint {
  font-palette: --Mint;
  font-family: Rocher;
}
.min-test {
  font-size: 32px;
  font-palette: --Mint;
  font-family: Rocher;
  cursor: pointer;
}
.min-selectstory {
  margin-top: 40px;
  font-size: 38px;
  font-palette: --Mint;
  font-family: Rocher;
}
.position-set{
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 35px;
  margin-top: 8px;
}
.story-text {
  width: 472px;
      height: 325px;
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-weight: bold;
      padding-left: 45px;
      padding-right: 45px;
    font-size: 18px;

  /* align-self: center;
  padding-left: 45px;
  padding-right: 45px;
  font-size: 18px;
  font-weight: bold;
  width: 500px;
  height: 500px; */
 }



 @media only screen and (min-width:0) and (max-width: 600px) {
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("./assets/mobilemain.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 100%;
  }

  .position-set{
    margin-top: -18px;
  }

  .story-text {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    width: 90%;
    padding-left: 24px;
    padding-right: 45px;
   }
  .player_text{
    font-size: 20px;
    margin-top: 50px;
    position: relative;
  }
}
@media only screen and (min-width:600px) and (max-width: 1597px) {
  .position-set{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: 25px;
    margin-top: 8px;
    padding-left: 30px;
  }
  .story-text {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    width: 400px;
   }
}
.storylingo-img{
  cursor: pointer;
  height: 25px;
}